:root {
  --black-color: #000000;
  --blue-color: #0000ff;
  --white-color: #ffffff;
  --lblue-color: #0095ff;
  --weather-1000: #ffeb3b; /* Sunny */
  --weather-1003: #ffe082; /* Partly cloudy */
  --weather-1006: #90a4ae; /* Cloudy */
  --weather-1009: #607d8b; /* Overcast */
  --weather-1030: #cfd8dc; /* Mist */
  --weather-1063: #64b5f6; /* Patchy rain possible */
  --weather-1066: #b0bec5; /* Patchy snow possible */
  --weather-1069: #90a4ae; /* Patchy sleet possible */
  --weather-1072: #cfd8dc; /* Patchy freezing drizzle possible */
  --weather-1087: #ffcc80; /* Thundery outbreaks possible */
  --weather-1114: #b0bec5; /* Blowing snow */
  --weather-1117: #90a4ae; /* Blizzard */
  --weather-1135: #cfd8dc; /* Fog */
  --weather-1147: #90a4ae; /* Freezing fog */
  --weather-1150: #b0bec5; /* Patchy light drizzle */
  --weather-1153: #64b5f6; /* Light drizzle */
  --weather-1168: #90a4ae; /* Freezing drizzle */
  --weather-1171: #b0bec5; /* Heavy freezing drizzle */
  --weather-1180: #64b5f6; /* Patchy light rain */
  --weather-1183: #64b5f6; /* Light rain */
  --weather-1186: #42a5f5; /* Moderate rain at times */
  --weather-1189: #1e88e5; /* Moderate rain */
  --weather-1192: #1565c0; /* Heavy rain at times */
  --weather-1195: #0d47a1; /* Heavy rain */
  --weather-1198: #90a4ae; /* Light freezing rain */
  --weather-1201: #78909c; /* Moderate or heavy freezing rain */
  --weather-1204: #b0bec5; /* Light sleet */
  --weather-1207: #78909c; /* Moderate or heavy sleet */
  --weather-1210: #b0bec5; /* Patchy light snow */
  --weather-1213: #90a4ae; /* Light snow */
  --weather-1216: #78909c; /* Patchy moderate snow */
  --weather-1219: #607d8b; /* Moderate snow */
  --weather-1222: #455a64; /* Patchy heavy snow */
  --weather-1225: #37474f; /* Heavy snow */
  --weather-1237: #b0bec5; /* Ice pellets */
  --weather-1240: #64b5f6; /* Light rain shower */
  --weather-1243: #42a5f5; /* Moderate or heavy rain shower */
  --weather-1246: #1e88e5; /* Torrential rain shower */
  --weather-1249: #b0bec5; /* Light sleet showers */
  --weather-1252: #78909c; /* Moderate or heavy sleet showers */
  --weather-1255: #b0bec5; /* Light snow showers */
  --weather-1258: #78909c; /* Moderate or heavy snow showers */
  --weather-1261: #b0bec5; /* Light showers of ice pellets */
  --weather-1264: #78909c; /* Moderate or heavy showers of ice pellets */
  --weather-1273: #ffcc80; /* Patchy light rain with thunder */
  --weather-1276: #ffb74d; /* Moderate or heavy rain with thunder */
  --weather-1279: #ffcc80; /* Patchy light snow with thunder */
  --weather-1282: #ffb74d; /* Moderate or heavy snow with thunder */
}

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(images/bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Caveat', cursive;
  overflow-y: scroll; 
}

.search {
  width: 250px;
  height: 40px;
  background-color: transparent;
  border-radius: 50px;
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 2px;
  border: 2px solid var(--white-color);
  color: var(--white-color);
  position: absolute;
  right: 20px;
  top: 20px; 
  font-family: 'Caveat', cursive; 
}

.search::placeholder {
  text-align: center;
  background-color: transparent;
  color: var(--white-color);
}

.lg {
  width: 100px;
  position: absolute;
  transform: translateX(-50%);
  transform: translateY(-11%);
}

.hdr {
  background-color: rgba(255, 255, 255, 0.04);
  height: 80px;
  width: 100%;
  text-align: center;
  position: relative;
}

.weather_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4px; 
  padding: 20px;
}

.weather-card {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 200px;
  text-align: center;
  font-family: 'Caveat', cursive; 
  color: var(--black-color);
  background-color: var(--other-color); 
  opacity: 0.95; 
}

.weather-card img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 20px;
}

.weather-card[data-weather="1000"] { background-color: var(--weather-1000); }
.weather-card[data-weather="1003"] { background-color: var(--weather-1003); }
.weather-card[data-weather="1006"] { background-color: var(--weather-1006); }
.weather-card[data-weather="1009"] { background-color: var(--weather-1009); }
.weather-card[data-weather="1030"] { background-color: var(--weather-1030); }
.weather-card[data-weather="1063"] { background-color: var(--weather-1063); }
.weather-card[data-weather="1066"] { background-color: var(--weather-1066); }
.weather-card[data-weather="1069"] { background-color: var(--weather-1069); }
.weather-card[data-weather="1072"] { background-color: var(--weather-1072); }
.weather-card[data-weather="1087"] { background-color: var(--weather-1087); }
.weather-card[data-weather="1114"] { background-color: var(--weather-1114); }
.weather-card[data-weather="1117"] { background-color: var(--weather-1117); }
.weather-card[data-weather="1135"] { background-color: var(--weather-1135); }
.weather-card[data-weather="1147"] { background-color: var(--weather-1147); }
.weather-card[data-weather="1150"] { background-color: var(--weather-1150); }
.weather-card[data-weather="1153"] { background-color: var(--weather-1153); }
.weather-card[data-weather="1168"] { background-color: var(--weather-1168); }
.weather-card[data-weather="1171"] { background-color: var(--weather-1171); }
.weather-card[data-weather="1180"] { background-color: var(--weather-1180); }
.weather-card[data-weather="1183"] { background-color: var(--weather-1183); }
.weather-card[data-weather="1186"] { background-color: var(--weather-1186); }
.weather-card[data-weather="1189"] { background-color: var(--weather-1189); }
.weather-card[data-weather="1192"] { background-color: var(--weather-1192); }
.weather-card[data-weather="1195"] { background-color: var(--weather-1195); }
.weather-card[data-weather="1198"] { background-color: var(--weather-1198); }
.weather-card[data-weather="1201"] { background-color: var(--weather-1201); }
.weather-card[data-weather="1204"] { background-color: var(--weather-1204); }
.weather-card[data-weather="1207"] { background-color: var(--weather-1207); }
.weather-card[data-weather="1210"] { background-color: var(--weather-1210); }
.weather-card[data-weather="1213"] { background-color: var(--weather-1213); }
.weather-card[data-weather="1216"] { background-color: var(--weather-1216); }
.weather-card[data-weather="1219"] { background-color: var(--weather-1219); }
.weather-card[data-weather="1222"] { background-color: var(--weather-1222); }
.weather-card[data-weather="1225"] { background-color: var(--weather-1225); }
.weather-card[data-weather="1237"] { background-color: var(--weather-1237); }
.weather-card[data-weather="1240"] { background-color: var(--weather-1240); }
.weather-card[data-weather="1243"] { background-color: var(--weather-1243); }
.weather-card[data-weather="1246"] { background-color: var(--weather-1246); }
.weather-card[data-weather="1249"] { background-color: var(--weather-1249); }
.weather-card[data-weather="1252"] { background-color: var(--weather-1252); }
.weather-card[data-weather="1255"] { background-color: var(--weather-1255); }
.weather-card[data-weather="1258"] { background-color: var(--weather-1258); }
.weather-card[data-weather="1261"] { background-color: var(--weather-1261); }
.weather-card[data-weather="1264"] { background-color: var(--weather-1264); }
.weather-card[data-weather="1273"] { background-color: var(--weather-1273); }
.weather-card[data-weather="1276"] { background-color: var(--weather-1276); }
.weather-card[data-weather="1279"] { background-color: var(--weather-1279); }
.weather-card[data-weather="1282"] { background-color: var(--weather-1282); }

@media (max-width: 768px) {
  .weather-card {
      width: 150px;
  }
  .search {
      width: 200px;
      font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .weather-card {
      width: 100px;
  }
  .search {
      width: 150px;
      font-size: 0.8rem;
  }
}
